<!DOCTYPE html>
<html>

<head>
  <title>Trail Tracker</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

 
  
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Trail Tracker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
          <% if (user) { %>
            <li><a href="/logout" class="login-logout">Log Out</a></li>
          <% } else { %>
            <li><a href="/auth/google" class="login-logout"> Login with Google</a></li>
          <% } %>  

        </ul>
      </div>
    </nav>

    <!-- testing git  -->
  
      
    
    <!-- <div class="position">
    <div class="background-image"></div>
    <div class="login-prompt">

      
    </div>
    </div> -->
    
    <div class="container">
      <img src="/images/bikepage.png" class="image">
      <div class="bottom-left">Bottom Left</div>
      <div class="top-left">Top Left</div>
      <div class="top-right">Top Right</div>
      <div class="bottom-right">Bottom Right</div>
      <div class="centered">

        <% if (user) { %> 
          <h5>Welcome, <%= user.name %> </h5>
          <% } else { %> 
            <h5>Sign in - OG index.ejs</h5>
            <% } %> 

      </div>
    </div>
     
</body>

</html>