<!DOCTYPE html>
<html>

<head>
  <title>Trail Tracker</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav >
      <div class="nav-wrapper">
        <a href="" class="trail-tracker">Trail Tracker</a>
        <ul class="right">
          <li>
            <% if (user) { %>
              <a href="/logout" class="login-logout">Log Out</a>
            <% } else { %>
              <a href="/auth/google" class="login-logout"> Login with Google</a>

            <% } %>       
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- 3 columns fixed -->
  <!-- <h4>You are in trail.ejs Page</h4>
  <div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2>Column 1</h2>
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:#ccc;">
      <h2>Column 3</h2>
      <p>Some text..</p>
    </div>
  </div> -->
   

  <!-- <div class="container">
    <div class="item">
        <li>User Name</li>
        <li>User Trails</li>

    </div>
    <div class="item">item 2</div>
    <div class="item">item 3</div>
    
  </div> -->
  <!-- <ul class="flex-container">
    <li class="flex-item">2</li>
    <li class="flex-item" id="flex-middle">3</li>
    <li class="flex-item">4</li>
  </ul> -->

  <div class="flex-container">
      <div class="flex-item"> 
          <li>User Name</li>
          <button>User TrAILS</button>
      </div>
      <div class="flex-item" id="flex-middle">
          <li>Trail Info</li>
          <li>Comments render here</li>

          <textarea name="comment" form="usrform">Enter text here...</textarea>

          <form action="/" id="usrform">
            <input type="submit">
          </form>
          

      </div>
      <div class="flex-item">3</div>
  </div>

</body>

</html>