* {
  box-sizing: border-box;
}

.nav-wrapper {
  background-color: rgb(55, 138, 169);
}

.brand-logo {
  margin-left: 15px;
}

#logo {
  /* color:darksalmon; */
  font-size: 38px;
  padding-left: 20px;
  font-weight: bold;
  font-family: Helvetica;
}

.login-logout {
  color: darksalmon;
  font-size: 29px;
  padding-right: 20px;
  font-family: Helvetica;
}

body {
  background-color: rgb(242, 236, 236);
}

.side-nav {
  background-color: darkgrey;
  border-radius: 10px;
}

.page-content {
  background-color: rgb(189, 134, 95);
  text-align: center;
  border-radius: 10px;
}

.page-container {
  margin-right: 80px;
  padding-left: 20px;
}

.container-pic {
  position: relative;
  text-align: center;
  color: white;
}

.image {
  width: 100%;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#trailName {
  width: 400px;
  font-size: 21px;
  padding-top: 30px;
}

#edit-trailName {
  font-size: 30px;
}

.update-button {
  background-color: grey;
  font-size: 21px;
}
