* {
  box-sizing: border-box;
}
.nav-wrapper {
  background-color: rgb(55, 138, 169);
}

.brand-logo {
  margin-left: 15px;
}

/* .trail-tracker{
  color:darksalmon;
  font-size: 38px;
  padding-left: 20px;
  font-weight: bold;
  font-family:Helvetica;
} */

.login-logout{
  color: darksalmon;
  font-size: 29px;
  padding-right: 20px;
  font-family:  Helvetica;
}
.container-pic {
  position: relative;
  text-align: center;
  color: white;
}
.image{
  width: 100%;
}

.row{
  display: flex;
  align-content: space-between;
  /* position: relative;
  bottom: 1070px; */

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  
 }
 .page-container{
   display: flex;
   align-content: space-between;
 }

.side-nav{
  background-color: darkgrey;
  border-radius: 10px;
}
.side-nav-buttons{
  font-size: 25px;
}
.page-content{
  background-color:rgb(189, 134, 95);
  text-align: center;
  border-radius: 10px; 
}

.section div h6{
  float: left;
  padding-right: 12px;
}
.section div button{
  float: left;
  background-color: black;
}

.detail-button-index{
  float: right;
  
}

body{
  background-color: rgb(230, 211, 211);
}
