* {
  box-sizing: border-box;
}

.nav-wrapper {
  background-color: rgb(84, 124, 138);
}

.brand-logo {
  margin-left: 15px;
}

#logo {
  /* color:darksalmon; */
  font-size: 38px;
  padding-left: 20px;
  font-weight: bold;
  font-family: Helvetica;
}

.login-logout {
  color: darksalmon;
  font-size: 29px;
  padding-right: 20px;
  font-family: Helvetica;
}

body {
  background-color: rgb(63, 170, 228);
}

.container-pic {
  position: relative;
  text-align: center;
  color: white;
}

.image {
  width: 100%;
}

.row {
  display: flex;
  align-content: space-between;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
}

.page-container {
  display: flex;
  align-content: space-between;
}

.side-nav {
  background-color: rgba(230, 149, 27, 0.584);
  border-radius: 10px;
}

.side-nav-buttons {
  font-size: 25px;
  background-color: gray;
  border-radius: 10px;
}

.page-content {
  background-color: rgba(230, 149, 27, 0.584);
  text-align: center;
  border-radius: 10px;
}

.trail-name {
  float: left;
  font-size: 22px;
  font-weight: bold;
}

.section div button {
  float: left;
  color: black;
}

.detail-button-index {
  float: right;
}
