* {
  box-sizing: border-box;
}
.nav-wrapper {
  background-color: rgb(55, 138, 169);
}

.brand-logo {
  margin-left: 15px;
}

/* .trail-tracker{
  color:darksalmon;
  font-size: 38px;
  padding-left: 20px;
  font-weight: bold;
  font-family:Helvetica;
} */

.login-logout{
  color: darksalmon;
  font-size: 29px;
  padding-right: 20px;
  font-family:  Helvetica;
 
}
.container-pic {
  position: relative;
  text-align: center;
  color: white;
  
}
.image{
  width: 100%;
}

.row{
  display: flex;
  align-content: space-between;
  position: relative;
  bottom: 1070px;
  
 }
 .page-container{
   display: flex;
   align-content: space-between;
 }

.side-nav{
  background-color: darkgrey;
  border-radius: 10px;
}
.page-content{
  background-color:rgb(189, 134, 95);
  text-align: center;
  border-radius: 10px; 
}



/* .background-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

 /* .background-image {
  background-image: url("/images/bikepage.png");
  background-repeat: no-repeat;
  height: 93vh;
  background-size: cover;
  
} 

.login-prompt{
  position:absolute;
  margin: 0 auto;
   top: 200px;
  left: 590px; 
}
.position{
  position: relative;
} */

/* Container holding the image and the text */

body{
  background-color: rgb(230, 211, 211);
}
.container-pic {
  position: relative;
  text-align: center;
  color: white;
}
.image{
  width: 100%;
}


/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}