* {
  box-sizing: border-box;
}
.nav-wrapper {
  background-color: rgb(55, 138, 169);
}

.brand-logo {
  margin-left: 15px;
}

/* .trail-tracker{
  color:darksalmon;
  font-size: 38px;
  padding-left: 20px;
  font-weight: bold;
  font-family:Helvetica;
} */

.login-logout{
  color: darksalmon;
  font-size: 29px;
  padding-right: 20px;
  font-family:  Helvetica;
 
}


.flex-container {
  padding: 0;
  margin: 3px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.flex-item {
  flex-grow: 1;
  background: rgb(202, 210, 184);
  border: 3px solid rgba(0,0,0,.2);
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  height: 750px;
  width: 30px;
  
}

.detail-button {
  font: bold 24px Helvetica;
  text-decoration: none;
  background-color: #75da70;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 8px;
}
.detail-button-index {
  font: bold 16px Helvetica;
  text-decoration: none;
  background-color: #75da70;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 8px;
}

#trail-name, #location, #length {
  font-size: 25px;
  text-align: center;
}

#ratings-page {
  display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}
#comment-column {
  display: grid;
    grid-template-columns: auto auto auto;
}

#flex-middle {
  height:750px;
  width:120px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  margin-left: 3px;
  margin-right: 3px;
}

#flex-middle label {
  font-size: 20px;
  text-align: left;
}
