* {
  box-sizing: border-box;
}
.nav-wrapper {
  background-color: rgb(120, 166, 182);
}

.brand-logo {
  margin-left: 15px;
}

/* .trail-tracker{
  color:darksalmon;
  font-size: 38px;
  padding-left: 20px;
  font-weight: bold;
  font-family:Helvetica;
} */

.login-logout{
  color: darksalmon;
  font-size: 29px;
  padding-right: 20px;
  font-family:  Helvetica;
 
}


.container-pic {
  position: relative;
  text-align: center;
  color: white;
  
  
}
.image{
  width: 100%;
}


.row{
  display: flex;
  align-content: space-between;
  
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  
 }


.page-container{
  display: flex;
  align-content: space-between;
}

.side-nav{
  background-color: darkgrey;
  border-radius: 10px;
}

.side-nav-buttons{
  font-size: 25px;
}

.rate-content{
  background-color:rgb(189, 134, 95);
  /* text-align:justify; */
  border-radius: 10px; 
}
.comment-content{
  background-color: cornflowerblue;
  text-align: center;
  border-radius: 10px; 
}

.section div{
  float: left;
  padding-right: 6px;
}
.section label{
  font-size: 20px;
  color:darkblue
}
.dropdown-rate{
  width: 100px;
}

body{
  background-color: rgb(113, 134, 191);
}
