<!DOCTYPE html>
<html>

<head>
  <title>Trail Tracker</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/edit.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo" id="logo">Trail Tracker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          
          <% if (user) { %>
            <li><a href="/logout" class="login-logout">Log Out</a></li>
          <% } else { %>
            <li><a href="/auth/google" class="login-logout"> Login with Google</a></li>
          <% } %>  

        </ul>
      </div>
    </nav>

    <div class="container-pic">
      <img src="/images/bikepage.png" class="image">
      <div class="centered">

          <form class="col s12" action="/trails/<%= trail._id %>?_method=PUT" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <textarea placeholder="<%= trail.trailName %>" id="trailName" class="materialize-textarea" name="trailName"></textarea>
                <label id="edit-trailName" for="textarea1">Edit Trail Name:</label>
              </div>
              <div><button type="submit" class="waves-effect waves-light btn update-button">Update</button></div>
            </div>
          </form>
        
        </div>
        </div>

    </body>
    </html>