<!DOCTYPE html>
<html>

<head>
  <title>Trail Tracker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo" id="logo">Trail Tracker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
       
          <% if (user) { %>
            <li><a href="/logout" class="login-logout">Log Out</a></li>
          <% } else { %>
            <li><a href="/auth/google" class="login-logout"> Login with Google</a></li>
          <% } %>  

        </ul>
      </div>
    </nav>


    <div class="container-pic">
    <img src="/images/bikepage.png" class="image">
  
    <div class="row">
      <div class="col s3 side-nav">
        <div class="section">
        <% if (user) { %> 
          <h5>Welcome<br><%= user.name %>!</h5>
            <% } else { %> 
              <h5>Sign in - index.ejs</h5>
              <% } %> 
        </div>
        <div class="divider"></div>

        <div class="section">
        <p><a href="/trails" class="waves-effect waves-light btn-large side-nav-buttons">All Trails</a></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a href="/trails/new" class="waves-effect waves-light btn-large side-nav-buttons">Add New Trail</a>
      </div>
      <div class="divider"></div>

      </div>

      <div class="container page-container">
      <div class="col s9 page-content">
        <!-- Teal page content  -->
        <h3>Trails</h3>

        <div class="divider"></div>
        <div class="section">
          <% trails.forEach(t => { %>
            <div class="trail-name"><%= t.trailName %></div>
          
            <p><div>
              <a href="/trails/<%= t.id %> " method="GET"  class="btn-floating btn-medium waves-effect waves-light grey darken-1 detail-button-index"><i class="material-icons">pageview</i></a>
              </div></p><br>
               <% if(t.usersTrail.equals(user._id)) {%> 
              <form action="/trails/<%= t._id %>?_method=DELETE" class="delete-form" method="POST">
              <div><button type="submit" class="waves-effect waves-light red   btn"><i class="material-icons">delete</i></button></div><br>
              </form>
          <% } %> 
          <div class="divider"></div><br>
          
          <% }) %>
         
      </div>
      </div>
    </div>
    </div>
  </div>
    
</body>
</html>

