
<head>
  <title>Trail Tracker</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/stylesheets/new.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Trail Tracker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          
          <% if (user) { %>
            <li><a href="/logout" class="login-logout">Log Out</a></li>
          <% } else { %>
            <li><a href="/auth/google" class="login-logout"> Login with Google</a></li>
          <% } %>  

        </ul>
      </div>
    </nav>


    <div class="container-pic">
      <img src="/images/bikepage.png" class="image">

    <div class="row">

      <div class="col s3 side-nav">
        <div class="section">
        <h5>trails - ratings.ejs</h5>
        <% if (user) { %> 
          <h5>Welcome <%= user.name %>! </h5>
            <% } else { %> 
              <h5>Sign in - index.ejs</h5>
              <% } %> 
        </div>
        <div class="divider"></div>

        <div class="section">
        <p><a href="/trails" class="waves-effect waves-light btn-large side-nav-buttons">All Trails</a></p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p><a href="/trails/new" class="waves-effect waves-light btn-large side-nav-buttons">Add New Trail</a></p>
      </div>
      <div class="divider"></div>

      </div>

      <div class="container page-container">
        <div class="col s9 rate-content">

          <div class="divider"></div>
        <div class="section">

          <form id="new-trail-form" action="/trails" method="POST">
          
                <label>Trail Name:
                  <input type="text" name="trailName" id="trail-name" />
                </label>
                <label>Location (city, State):
                  <input type="text" name="location" id="location" />
                </label>
                <label>Trail Length (Mile):
                  <input type="number" step="0.1" name="trailLength" min="0" max="9999" id="length"/></label><br><br>
                <input type="submit" value="Add New Trail" id="add-trail-button-value" class="waves-effect waves-light btn-large add-trail-button">
          
            </form>


          </div>
          </div>

          </div>





      <!-- end div class="row" -->
      </div>



    </div>

    <!-- this form when submitted routes back to /trails comes from create() in trails controller -->
      <!-- <form id="new-trail-form" action="/trails" method="POST">
    <div class="flex-container">


      <div class="flex-item" id="flex-middle">
        <label
          >Trail Name:
          <input type="text" name="trailName" id="trail-name" />
        </label>
        <label
          >Location (city, State):
          <input type="text" name="location" id="location" />
        </label>
        <label
          >Trail Length (Mile):
          <input type="number" step="0.1" name="trailLength" min="0" max="9999" id="length"/></label
        ><br />
        <input type="submit" value="Add Trail" class="detail-button">
      </div>

    </form>

      <div class="flex-item"></div>
    </div> -->

  </body>
</html>
